<%= form_with(model: video, local: true, html: { multipart: true }) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :video_titulo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :video_descripcion %>
  </div>

  <div class="field">
    <%= form.label :archivovideo %>
    <%= form.file_field :archivovideo, id: :video_archivovideo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
