<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @video.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @video.descripcion %>
</p>

<p>
 
   <video src="<%=  @video.archivovideo(:medium) %>" poster="<%=  @video.archivovideo(:cuadro1) %>" controls >

  Tu navegador no implementa el elemento <code>video</code>.
</video>
</p>
<a href="/videos/<%= @video.id%>"> Ver en alta resolucion </a>  |
<%= link_to 'Editar', edit_video_path(@video) %> |
<%= link_to 'Regresar', videos_path %>
</div>