



<p id="notice"><%= notice %></p>

<div class="jumbotron">
<h1> Videos </h1>

</div>
<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Archivovideo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.titulo %></td>
        <td><%= video.descripcion %></td>
        <td>
       
  

    <div class="unslider default-slider">
  <ul>
    <li><%= image_tag video.archivovideo.url(:cuadro1) %></li>
    <li><%= image_tag video.archivovideo.url(:cuadro2) %></li>
    <li><%= image_tag video.archivovideo.url(:cuadro3) %></li>
    <li><%= image_tag video.archivovideo.url(:cuadro4) %></li>
  </ul>
</div>
   




        </td>
        <td><%= link_to 'Ver', video %></td>
        <td><%= link_to 'Editar', edit_video_path(video) %></td>
        <td><%= link_to 'Borrar', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar video', new_video_path %>


