



<p id="notice"><%= notice %></p>

<div class="jumbotron">
<h1> Videos </h1>

</div>

<div class="row">
 
    <% @videos.each do |video| %>
<div class="col">
    <div class="card" style="width: 20rem;">
  <div class="slider">
  <%= image_tag video.archivovideo.url(:cuadro1) %>
   <%= image_tag video.archivovideo.url(:cuadro2) %>
    <%= image_tag video.archivovideo.url(:cuadro3) %>
   <%= image_tag video.archivovideo.url(:cuadro4) %>
  </ul>
</div>
  <div class="card-block">
    <h4 class="card-title">  <%= video.titulo %></h4>
    <p class="card-text"> <%= video.descripcion %></p>
    <%= link_to 'Ver', video, :class => 'btn btn-primary' %>
      <%= link_to 'Editar', edit_video_path(video), :class => 'btn btn-warning' %>
       <%= link_to 'Borrar', video, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
  </div>
</div>
</div>
   
          <% end %>

</div>
<br>




